<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Order Form</title>
    <!-- reference css file in the static/css location   -->
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>



<body>
    <h1>Pacific Sports Order Form</h1>

    <div class="container">
        <p class="h4 mb-4">Create Order</p>

        <form th:action="@{order/save}"
               th:object="${cut }" method="POST">

            <input type="text" th:field="*{number}"
                   class="form-controlmb-4 col-4" placeholder="Item">

            <input type="text" th:field="*{color}"
                   class="form-controlmb-4 col-4" placeholder="Color">


            <input type="text" th:field="*{size}"
                   class="form-controlmb-4 col-4" placeholder="Size">


            <input type="text" th:field="*{quantity}"
                   class="form-controlmb-4 col-4" placeholder="Quantity">

            <button type="submit" class="btn btn-info col-2">Add</button>

        </form>

        <hr>
        <a th:href="@{/}">Back to nowhere</a>

        <table border="1">
            <thead>

            </thead>
            <tr>
                <th>Cut</th>
                <th>Description</th>
            </tr>
            <tbody>
            <tr th:each="tempCuts: ${theCuts}">
                <td th:text="${tempCuts}"/>

            </tr>
            </tbody>
        </table>

    </div>



    <p th:text="'Time on the server is ' + ${theDate}" class="funny"/>
</body>

</html>